@font-face {
  font-family: "play";
  src: url("./assets/play.ttf");
}

.contact-section{
  background-color: #242D1E;
  display : flex;
  flex-direction: column;
}

.contact-section-content p{
  color : black;
  font-size: 150%;
}

.contact-section-title {
  display : flex;
  flex-direction: row;
  justify-content: space-around;
}

.contact-section-title h1{
    font-size: 3em;
    color: white;
}

.footer{
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    padding-top: 20px;
    padding-bottom: 20px;
}

.footer a{
    color: white;
}

.footer h1{
    color: white;
    font-family: play;
}

.footer-part{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
