@font-face {
  font-family: "helvetica_neu";
  src: url("./assets/helvetica_neu.ttf");
}

.contact-section{
  background-color: #242D1E;
  display : flex;
  flex-direction: column;
}

.contact-section-content p{
  color : black;
  font-size: 150%;
  margin : 5%;
}

.contact-section-title {
  text-align:center;
  display : flex;
  flex-direction: row;
  justify-content: center;
}

.contact-section-title h1{
    font-size: 3em;
    color: white;
}
