@font-face {
  font-family: "play";
  src: url("./assets/play.ttf");
}

.FAQ-section{
  background-color: transparent;
  display : flex;
  flex-direction: column;
}

.FAQ-section-title {
  text-align:left;
  display : flex;
  flex-direction: row;
  justify-content: space-between;
}

.FAQ-section-content{
  display : flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.FAQ-section-title h1{
    font-size: 2.8em;
    color: #000000;
}

.association-section-chapter-title h1{
  color: black;
}
